body {
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    height: 60px;
    font-size: larger;
    background-color: rgba(42, 168, 168, 0.781);
}

.header img {
    height: 100%;
    margin-inline: 10px;
}

.canvas-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px;
    margin-top: 0;
}

.control-panel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.control-panel h1 {
    margin-top: 0;
    white-space: nowrap;
}